# Copy this file to .env and fill in your values
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=Ahsan@_123
DB_NAME=student_records_db
SECRET_KEY=2118371602a9f80d36f0afa93521714a0aa205b241f0d19bd880c6f735419c1e
